body {
  font-family: Arial, Helvetica, sans-serif;
}

.name-input,
.date-input {
  font-size: 14px;
  padding: 8px;
}

.add-button,
.delete-button {
  padding: 10px 32px;
  border: none;
  background-color: green;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.delete-button {
  background-color: darkred;
}

.todo-list-grid,
.todo-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
